.bar:hover {
  fill: white;
}

#visContainer {
  position: relative;
}

#visBody {
  position: absolute;
}

#tooltip {
  height: 60px;
  width: 120px;
  background: blue;
  color: white;
  position: absolute;
}

.barOverlay{
  position: absolute;
  background: red;
}

/* #y-axis path, #x-axis path{
    stroke: black;
  stroke-width: 1;
  fill: none; 
} */