:root {
  --myShadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body {
  background: #eaeaea;
}

text,
.bar {
  text-shadow: var(--myShadow);
}

.bar:hover {
  fill: white;
}

#visContainer {
  position: relative;
  width: 900px;
  height: 100vh;
  margin: auto;
  box-shadow: var(--myShadow);
  background: #eaeaea;
  color: brown;
  fill: brown;
}

#title {
  text-shadow: var(--myShadow);
  text-align: center;
  position: relative;
  top: 4%;
  z-index: 1000;
  font-size: 2rem;
}

#visBody {
  position: absolute;
}

#tooltip {
  height: 60px;
  width: 120px;
  background: #eaeaea;
  color: black;
  position: absolute;
  box-shadow: var(--myShadow);
}

.barOverlay {
  position: absolute;
  background: red;
}

footer {
  z-index: 20000;
}

/* #y-axis path, #x-axis path{
    stroke: black;
  stroke-width: 1;
  fill: none; 
} */